{{#> master}}
{{#*inline "content"}}


<div class="col-sm-8 text-center col-sm-offset-2 paddingT20" id="resultcontainer">
    <div class="row">
        {{#each parts}}
        <div class="col-md-6 paddingT10 paddingB10" onclick="document.sp{{@index}}.submit();">
            <label class="pointer">
                <h5>{{this.sname}}</h5>
                <div>
                    <a href="/partdetails?categoryId={{this.id}}&searchterm="  >
                        <img src="{{getImageUrl simage id}}" alt="1" width="194" height="114" />
                    </a>
                </div>
                <div class="paddingT10">{{this.content}}</div>
                <strong class="text-red">{{this.price}}</strong>
            </label>
        </div>
        {{/each}}
        </div>
        </div>
        
        {{/inline}}
        {{/master}}
        
        <script>

            function validateForm() {
        var agencyInput = document.getElementById("tb_agency_new").value;
        var regex = /^\s*\d{3}-?\d{3}-?\d{3}\w{1}\s*$/;

        if (!regex.test(agencyInput)) {
            document.getElementById("AgencyError").innerText = "Invalid Agency Number";
            return false;
        } else {
            document.getElementById("AgencyError").innerText = "";
            return true;
        }
    }
</script>